
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

.main{
    height: 800px;
    width: 1280px;
    margin: auto;
}

.panel1{
    height: 800px;
    width: 350px;
    background: linear-gradient(180deg, rgba(246,79,89,1) 0%, rgba(196,113,237,1) 50%, rgba(18,194,233,1) 100%);
    float: left;
}

.back-help{
    text-align: center;
    height: 100px;
    width: 350px;
}



.btn_back{
    margin-top: 25px;
    border: 1px solid #707070;
    background: #FFF;
    padding: 8px 20px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    cursor: pointer;
    outline:none;
}

.btn_back:nth-child(1){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn_back:nth-child(2){
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.name{
    height: 125px;
    width: 350px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.buttons_panel{
    height: 525px;
    width: 350px;
}

.screen{
    margin: auto;
    margin-top: 15px;
    height: 760px;
    width: 880px;
    border: 1px solid #707070;
    border-radius: 15px;
    background-color: #333;
}

.screen1{
    margin: auto;
    margin-top: 15px;
    height: 375px;
    width: 880px;
    border: 1px solid #707070;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #333;
}

.screen2{
    margin: auto;
    margin-top: 10px;
    height: 375px;
    width: 880px;
    border: 1px solid #707070;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #333;
}

.zoom{
    margin: auto;
    height: 25px;
    width: 410px;
    text-align: center;
}

.start, .screen{
    border: 1px solid #000
}

.name_p{
    margin: 0px;
    padding-top: 40px;
    color: white;
    font-size: 40px;
    font-family:georgia;
    font-weight: bold;
    margin-left: 35px;
}

.link_to_fractal{
    text-align: center;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #fff;
}

#active_fr{
    background: #C2C2C2;
    cursor: default;
}

.panel_form{
    text-align: center;
}

.input_c{
    margin-top: 25px;
    margin-left: 40px;
    height: 50px;
    width: 275px;
}

.input_logo{
    height: 100%;
    width: 50px;
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #707070;
    float: left;
}

.input_body{
    height: 100%;
    width: 220px;
    background-color: #EFEFEF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    float: left;
    border: 1px solid #707070;
}

#constanta{
    margin-top: 11px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.pan_icon{
    margin-top: 15px;
    font-size: 18px;
}

.pan_icon_it{
    font-size: 18px;
    margin-top: 15px;
    margin-left: 4px;
}

.hr_line{
    margin-top: 50px;
    border-top: 1px solid #FFF;
}

.hr_line1{
    margin-top: 25px;
    border-top: 1px solid #FFF;
    margin-bottom: 25px;
}

.btn_start{
    border: 1px solid #707070;
    background: #FFF;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    cursor: pointer;
    outline:none;
    float: left;
}

.btn_start:nth-child(1){
    height: 50px;
    width: 160px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 30px;
}

.btn_start:nth-child(2){
    height: 50px;
    width: 120px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 5px;
}


.zoom_icons{
    float: left;
    font-size: 20px;
    margin-top: 3px;
}

.slidder{
    width: 82%;
    height: 100%;
    background-color: pink;
    float:left;
    margin-left: 15px;
    margin-right: 15px;
}

.input_box{
    width: 200px;
    background-color: #EFEFEF;
    margin-top: 17px;
    border: 0px solid #707070;
    outline: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#color, #constan{
    margin-left: -10px;
    margin-top: 16px;
    width: 200px;
    border: 0px solid #707070;
    background-color: #EFEFEF;
    outline: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#c_red{
    color: red;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    pointer-events: none;
}
#c_green{
    color: green;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    pointer-events: none;
}
#c_blue{
    color: blue;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
#c_gray{
    color: gray;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#degre{
    vertical-align: 15px;
    font-size: 18px;
}



.left_panel{
    height: 100%;
    width: 50%;
    background-color: #EFEFEF;
    float: left;
    text-align: center;
}

.right_panel{
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg, rgba(242,113,33,1) 0%, rgba(233,64,87,1) 40%, rgba(138,35,135,1) 100%);
    float: left;
    text-align: center;
}

.category{
    margin: auto;
    width: 70%;
    height: 200px;
    margin-top: 50px;
    text-align: left;
    outline: none;
    position: relative;
}

.categ_name{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.categ_btn{
    border: 0px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

#fract_img{
    height: 200px;
    width: 448px;
    margin-left: -6px;
    margin-top: -1px;
}

#fract_img:hover{
    filter: blur(4px);
    transition: 0.5s;
}

.logo{
    margin-top: 75px;
    margin-bottom: 50px;
}

.hellO_text>p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.categ_name_x{
    width: 100%;
    height: 35px;
    background-color: #000000;
    opacity: 0%;
    position: absolute;
    margin-top: -50px;
    margin-left: -6px;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    font-family:georgia;
}

.categ_name_x>p{
    margin: 0px;
    margin-top: 2px;
}


.categ_btn:hover > .categ_name_x{
    opacity: 50%;
    transition: 0.5s;
}

.scheme{
    margin: auto;
    width: 80%;
    height: 250px;
}

.input_v{
    float: left;
    width: 35%;
    height: 100%;
}

.input_ser{
    float: left;
    width: calc(30% - 2px);
    height: 100%;
}

.color_letter{
    width: 51px;
    height: 50px;
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #707070;
    margin-bottom: 25px;
}

.color_letter_c{
    width: 49px;
    height: 45px;
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #707070;
    margin-bottom: 7px;
}

.color_swap{
    margin: auto;
    width: 50px;
    height: 45px;
    border-radius: 15px;
    margin-top: 100px;
}

.color_swap1{
    margin: auto;
    width: 50px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #707070;
    outline: none;
}

.color_value{
    float: right;
    width: 47px;
    height: 50px;
    background-color: #EFEFEF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #707070;
    margin-bottom: 25px;
}

.color_value_c{
    width: 47px;
    height: 45px;background-color: #EFEFEF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #707070;
    margin-bottom: 7px;
}

.left_input_v{
    height: 100%;
    width: 50%;
    float: left;
}

.right_input_v{
    height: 100%;
    width: 50%;
    float: left;
}

.first_el{
    margin-top: 20px;
}

.save_upload{
    height: 45px;
    width: 100%;
    float: right;
}

.color_btn{
    text-align: right;
    height: 30px;
    border: 1px solid #707070;
    background: #FFF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    cursor: pointer;
    outline:none;
}

.color_btn:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.color_btn:nth-child(2){
    width: 106px;
}

.color_btn:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#letter_color{
    margin-top: 9px;
    margin-left: 5px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#letter_color1{
    margin-top: 12px;
    margin-left: 5px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#spaw_icon{
    margin-top: 2px;
    font-size: 24px;
}

.value_box{
    width: 42px;
    background-color: #EFEFEF;
    margin-top: 16px;
    border: 0px solid #707070;
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-align: center;
}

.value_box1{
    width: 41px;
    background-color: #EFEFEF;
    margin-top: 13px;
    border: 0px solid #707070;
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-align: center;
}

.icon_save{
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.input_box2{
    width: 180px;
    background-color: #EFEFEF;
    border: 0px solid #707070;
    outline: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#blue_selector{
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}


.mainscreen{
    height: 800px;
    width: 930px;
    float: left;
}

.photo_com{
    height: 760px;
    width: 880px;
    border-radius: 15px;
}

.photo_com2_1{
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.photo_com2_2{
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}




.twentytwenty-container{
    height: 760px;
    width: 880px;
    border-radius: 15px;
}

.slidder{
    width: 82%;
    height: 100%;
    float:left;
    margin-left: 15px;
    margin-right: 15px;
}

.slider{
    width: 100%;
    height: 20px;
}

input[type="range"]{
    -webkit-appearance:none;
    width: 200px;
    height: 3px;
    border-radius: 10px;
    background: #000;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: linear-gradient(180deg, rgba(246,79,89,1) 0%, rgba(196,113,237,1) 50%, rgba(18,194,233,1) 100%);
    border-radius: 10px;
    cursor: pointer;
}

#canvas_hsv{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#canvas_cmyk{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tut_julia{
    height: 800px;
    width: 1280px;
    background: rgba(20, 20, 20, 0.5);
    margin: auto;
    position: absolute;
    margin-top: -800px;
    margin-left: 312px;
}

.popup{
    height: 200px;
    width: 350px;
    background-color: white;
    margin-left: 450px;
    margin-top: 150px;
    border: 1px solid #707070;
    border-radius: 18px;
}

.popup1{
    height: 200px;
    width: 390px;
    background-color: white;
    margin-left: 450px;
    margin-top: 150px;
    border: 1px solid #707070;
    border-radius: 18px;
}

.popup_text{
    height: calc(100% - 50px);
    width: calc(100% - 20px);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.popup_text>p{
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: 450;
}

.popup_btn{
    height: 40px;
    width: 100%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;

}

.button_layer{
    width: 150px;
    height: 90%;
    background: linear-gradient(180deg, rgba(246,79,89,1) 0%, rgba(196,113,237,1) 50%, rgba(18,194,233,1) 100%);
    border-radius: 18px;
    margin: auto;
}

.pp_btn{
    background-color:#D8D8D8;
	border-radius:28px;
	border:1px solid #555353;
	display:inline-block;
	cursor:pointer;
    color: black;
	font-family:Arial;
	font-size:20px;
	padding: 6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000;
}

.pp_btn_skip{
    background-color:#D8D8D8;
	border-radius:28px;
	border:1px solid #555353;
	display:inline-block;
	cursor:pointer;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
	font-size:16px;
	padding: 0 15px;
    width: 34px;
    height: 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000;
}

.ppt1{
    height: 185px;
}
.ppt2{
    height: 395px;
}
.ppt3{
    height: 395px;
}
.ppt4{
    height: 285px;
}
.ppt5{
    height: 265px;
}
.ppt6{
    height: 205px;
}
.ppt7{
    height: 245px;
}
.ppt8{
    height: 225px;
}
.ppt9{
    height: 205px;
}
.ppt10{
    height: 245px;
}
