
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

.main{
    margin: auto;
    height: 800px;
    width: 1280px;
}

.panel{
    height: 800px;
    width: 350px;
    background: rgb(181,44,42);
    background: linear-gradient(180deg, rgba(181,44,42,1) 0%, rgba(99,73,118,1) 50%, rgba(22,101,191,1) 100%);
    float: left;
}

.back-help{
    text-align: center;
    height: 100px;
    width: 350px;
}



.btn_back{
    margin-top: 25px;
    border: 1px solid #707070;
    background: #FFF;
    padding: 8px 20px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    cursor: pointer;
    outline:none;
}

.btn_back:nth-child(1){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn_back:nth-child(2){
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.name{
    height: 175px;
    width: 350px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.buttons_panel{
    height: 525px;
    width: 350px;
}

.mainscreen{
    height: 800px;
    width: 930px;
    float: left;
    -background-color: #EFEFEF;

}

.screen{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 710px;
    width: 880px;
    border: 1px solid #707070;
    border-radius: 15px;
    background-color: #333;
}

.screen1{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 750px;
    width: 880px;
    border: 1px solid #707070;
    border-radius: 15px;
    background-color: #333;
}

.zoom{
    margin: auto;
    height: 40px;
    width: 410px;
    text-align: center;
}

.zoom_x, .zoom_y, .zoom_main{
    height: 100%;
    width: 32%;
    float: left;
}

.zoom_x, .zoom_y{
    margin-right: 8px;
}

.left_part{
    height: 100%;
    width: calc(30% - 2px);
    background-color: #fff;
    border: 1px solid #707070;

    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right_part{
    height: 100%;
    width: calc(70% - 2px);
    background-color: #efefef;
    border: 1px solid #707070;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}




.start, .screen{
    border: 1px solid #000
}

.name_p{
    margin: 0px;
    padding-top: 8px;
    color: white;
    font-size: 40px;
    font-family:georgia;
    font-weight: bold;
}

.name_p:nth-child(1){
    margin-left: 50px;
}

.name_p:nth-child(2){
    margin-left: 30px;
}

.name_p:nth-child(3){
    margin-left: 60px;
}

.link_to_fractal{
    text-align: center;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #fff;
}

#active_fr{
    background: #C2C2C2;
    cursor: default;
}

.panel_form{
    text-align: center;
}

.input_c{
    margin-top: 25px;
    margin-left: 40px;
    height: 50px;
    width: 275px;
}

#logooo{
    outline: none;
}

.input_logo{
    height: 100%;
    width: 50px;
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #707070;
    float: left;
}

.input_body{
    height: 100%;
    width: 220px;
    background-color: #EFEFEF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    float: left;
    border: 1px solid #707070;
}


#constanta{
    margin-top: 11px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#constanta1{
    margin-top: 11px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #7b7a79;
}

#constanta2{
    margin-top: 5px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #000;
}

.pan_icon{
    margin-top: 15px;
    font-size: 18px;
}

.pan_icon_it{
    font-size: 18px;
    margin-top: 18px;
}

.hr_line1{
    margin-top: 100px;
    border-top: 1px solid #FFF;
}

.hr_line8{
    margin-top: 100px;
    border-top: 1px solid #FFF;
}


.btn_start{
    margin-top: -5px;
    height: 100%;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 15px;
    background: #FFF;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    cursor: pointer;
    outline:none;
}

.zoom_icons{
    float: left;
    font-size: 20px;
    margin-top: 3px;
}

.slidder{
    width: 82%;
    height: 100%;
    float:left;
    margin-left: 15px;
    margin-right: 15px;
}

.input_box{
    width: 200px;
    background-color: #EFEFEF;
    margin-top: 17px;
    border: 0px solid #707070;
    outline: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#color, #constan{
    margin-left: -10px;
    margin-top: 16px;
    width: 200px;
    border: 0px solid #707070;
    background-color: #EFEFEF;
    outline: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#constan1{
    margin-left: -10px;
    margin-top: 16px;
    width: 200px;
    border: 0px solid #707070;
    background: #C2C2C2;
    cursor: default;
    outline: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#c_red{
    color: red;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    pointer-events: none;
}
#c_green{
    color: green;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    pointer-events: none;
}
#c_blue{
    color: blue;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
#c_lblue{
    color: #00FFFF;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
#c_gray{
    color: gray;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#degre{
    vertical-align: 15px;
    font-size: 18px;
}



.left_panel{
    height: 100%;
    width: 50%;
    background-color: #EFEFEF;
    float: left;
    text-align: center;
}

.right_panel{
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg, rgba(242,113,33,1) 0%, rgba(233,64,87,1) 40%, rgba(138,35,135,1) 100%);
    float: left;
    text-align: center;
}

.category{
    margin: auto;
    width: 70%;
    height: 200px;
    margin-top: 50px;
    text-align: left;
    outline: none;
    position: relative;
}

.categ_name{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.categ_btn{
    border: 0px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

#fract_img{
    height: 200px;
    width: 448px;
    margin-left: -6px;
    margin-top: -1px;
}

#fract_img:hover{
    filter: blur(4px);
    transition: 0.5s;
}

.logo{
    margin-top: 75px;
    margin-bottom: 50px;
}

.hellO_text>p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.categ_name_x{
    width: 100%;
    height: 35px;
    background-color: #000000;
    opacity: 0%;
    position: absolute;
    margin-top: -50px;
    margin-left: -6px;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    font-family:georgia;
}

.categ_name_x>p{
    margin: 0px;
    margin-top: 2px;
}

.nameee:hover ~ .categ_btn{
    filter: blur(4px);
    transition: 0.5s;
}


.categ_btn:hover > .categ_name_x{
    opacity: 50%;
    transition: 0.5s;
}

.categ_name_x:hover>p ~ .categ_btn{
    filter: blur(4px);
    transition: 0.5s;
}

.panel1{
    height: 800px;
    width: 350px;
    background: linear-gradient(180deg, rgba(246,79,89,1) 0%, rgba(196,113,237,1) 50%, rgba(18,194,233,1) 100%);
    float: left;
}

.logo{
    outline: none;
}

.slidder{
    width: 82%;
    height: 100%;
    float:left;
    margin-left: 15px;
    margin-right: 15px;
}

.slider{
    width: 100%;
    height: 20px;
}

input[type="range"]{
    -webkit-appearance:none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #000;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: linear-gradient(90deg, rgba(181,44,42,1) 0%, rgba(99,73,118,1) 50%, rgba(22,101,191,1) 100%);
    border-radius: 10px;
    cursor: pointer;
}

#canvas{
    border-radius: 15px;
}

.hr_line5{
    margin-top: 20px;
    border-top: 1px dashed #acaaaa;
}

.or{
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 30px;
    margin: -22px auto;
}

.blurtest{

    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    width: 100%;
    height: 100%;
    position: absolute;
}

.main{
    position: relative;
}

.mandel_c{
    z-index: -9;
}

#xxx, #yyy, #zoooom{
    width: 70px;
    background-color: #efefef;
    margin-top: 10px;
    border: 0px solid #707070;
    outline: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#zoom_icon{
    font-size: 20px;
    margin-top: 10px;
}

#defaultCanvas0{
    border-radius: 15px;
}

.mainscreen{
    background-color: white;
}

.tut_julia{
    height: 800px;
    width: 1280px;
    background: rgba(20, 20, 20, 0.5);
    margin: auto;
    position: absolute;
    margin-top: -800px;
    margin-left: 312px;
}

.popup{
    height: 200px;
    width: 350px;
    background-color: white;
    margin-left: 450px;
    margin-top: 150px;
    border: 1px solid #707070;
    border-radius: 18px;
}

.popup_text{
    height: calc(100% - 50px);
    width: calc(100% - 20px);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.popup_text>p{
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: 450;
}

.popup_text>p>span>a{
    color: red;
}

.popup_btn{
    height: 40px;
    width: 100%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;

}

.button_layer{
    width: 150px;
    height: 90%;
    background: linear-gradient(180deg, rgba(181,44,42,1) 0%, rgba(99,73,118,1) 50%, rgba(22,101,191,1) 100%);
    border-radius: 18px;
    margin: auto;
}

.pp_btn{
    background-color:#D8D8D8;
	border-radius:28px;
	border:1px solid #555353;
	display:inline-block;
	cursor:pointer;
    color: black;
	font-family:Arial;
	font-size:20px;
	padding: 6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000;
}

.pp_btn_skip{
    background-color:#D8D8D8;
	border-radius:28px;
	border:1px solid #555353;
	display:inline-block;
	cursor:pointer;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
	font-size:16px;
	padding: 0 15px;
    width: 34px;
    height: 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000;
}

.ppt1{
    height: 265px;
}
.ppt2{
    height: 245px;
}
.ppt3{
    height: 355px;
}
.ppt4{
    height: 205px;
}
.ppt5{
    height: 225px;
}
.ppt6{
    height: 245px;
}
.ppt7{
    height: 245px;
}
.ppt8{
    height: 200px;
}
.ppt9{
    height: 160px;
}
.ppt10{
    height: 245px;
}
