
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');
.main{
    height: 800px;
    width: 1280px;
    position: relative;
    margin: auto;
}

.panel{
    height: 800px;
    width: 350px;
    background: linear-gradient(180deg, rgba(142,45,226,1) 0%, rgba(196,113,237,1) 0%, rgba(74,0,224,1) 100%);
    float: left;
}

.back-help{
    text-align: center;
    height: 100px;
    width: 350px;
}



.btn_back{
    margin-top: 25px;
    border: 1px solid #707070;
    background: #FFF;
    padding: 8px 20px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    cursor: pointer;
    outline:none;
}

.btn_back:nth-child(1){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn_back:nth-child(2){
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.name{
    height: 125px;
    width: 350px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.buttons_panel{
    height: 525px;
    width: 350px;
}

.mainscreen{
    height: 800px;
    width: 930px;
    float: left;
    background-color: #EFEFEF;
}

.screen{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 700px;
    width: 880px;
    border: 1px solid #707070;
    border-radius: 15px;
    background-color: #333;
}

#giff{
    height: 700px;
    width: 880px;
    border-radius: 15px;
}

.start, .screen{
    border: 1px solid #000
}

.name_p{
    margin: 0px;
    padding-top: 8px;
    color: white;
    font-size: 40px;
    font-family:georgia;
    font-weight: bold;
}

.name_p:nth-child(1){
    margin-left: 100px;
    margin-top: 4px;
}

.name_p:nth-child(2){
    margin-left: 60px;
}


.link_to_fractal{
    text-align: center;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #fff;
}

#active_fr{
    background: #C2C2C2;
    cursor: default;
}

.panel_form{
    text-align: center;
}

.input_c{
    margin-top: 25px;
    margin-left: 40px;
    height: 50px;
    width: 275px;
}

.input_logo{
    height: 100%;
    width: 50px;
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #707070;
    float: left;
}

.input_body{
    height: 100%;
    width: 220px;
    background-color: #EFEFEF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    float: left;
    border: 1px solid #707070;
}

#constanta{
    margin-top: 11px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.pan_icon{
    margin-top: 15px;
    font-size: 18px;
}

.pan_icon_it{
    font-size: 18px;
    margin-top: 18px;
}

.hr_line{
    margin-top: 100px;
    border-top: 1px solid #FFF;
}

.btn_start{
    border: 1px solid #707070;
    background: #FFF;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    cursor: pointer;
    outline:none;
    float: left;
}

.btn_start:nth-child(1){
    height: 50px;
    width: 160px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: -10px;
}

.btn_start:nth-child(2){
    height: 50px;
    width: 120px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 5px;
}

.zoom_icons{
    float: left;
    font-size: 20px;
    margin-top: 3px;
}

.input_box{
    width: 200px;
    background-color: #EFEFEF;
    margin-top: 17px;
    border: 0px solid #707070;
    outline: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#color, #constan{
    margin-left: -10px;
    margin-top: 16px;
    width: 200px;
    border: 0px solid #707070;
    background-color: #EFEFEF;
    outline: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#c_red{
    color: red;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    pointer-events: none;
}
#c_orange{
    color: orange;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    pointer-events: none;
}
#c_yellow{
    color: yellow;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    pointer-events: none;
}
#c_green{
    color: green;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    pointer-events: none;
}
#c_blue{
    color: blue;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
#c_cyan{
    color: #00FFFF;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
#c_pink{
    color: pink;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
#c_gray{
    color: gray;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
#c_black{
    color: black;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#c_grad1{
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#c_grad2{
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
#c_grad3{
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#degre{
    vertical-align: 15px;
    font-size: 18px;
}



.left_panel{
    height: 100%;
    width: 50%;
    background-color: #EFEFEF;
    float: left;
    text-align: center;
}

.right_panel{
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg, rgba(242,113,33,1) 0%, rgba(233,64,87,1) 40%, rgba(138,35,135,1) 100%);
    float: left;
    text-align: center;
}

.category{
    margin: auto;
    width: 70%;
    height: 200px;
    margin-top: 50px;
    text-align: left;
    outline: none;
    position: relative;
}

.categ_name{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.categ_btn{
    border: 0px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

#fract_img{
    height: 200px;
    width: 448px;
    margin-left: -6px;
    margin-top: -1px;
}

#fract_img:hover{
    filter: blur(4px);
    transition: 0.5s;
}

.logo{
    margin-top: 75px;
    margin-bottom: 50px;
}

.hellO_text>p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.categ_name_x{
    width: 100%;
    height: 35px;
    background-color: #000000;
    opacity: 0%;
    position: absolute;
    margin-top: -50px;
    margin-left: -6px;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    font-family:georgia;
}

.categ_name_x>p{
    margin: 0px;
    margin-top: 2px;
}


.categ_btn:hover > .categ_name_x{
    opacity: 50%;
    transition: 0.5s;
}

.scheme{
    margin: auto;
    width: 80%;
    height: 150px;
}

.input_v{
    float: left;
    width: 50%;
    height: 100%;
}


.color_letter{
    width: 47px;
    height: 50px;
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #707070;
    margin-bottom: 25px;
}

.color_letter_c{
    width: 47px;
    height: 45px;
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #707070;
    margin-bottom: 7px;
}


.color_value{
    float: right;
    width: 84px;
    height: 50px;
    background-color: #EFEFEF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #707070;
    margin-bottom: 25px;
    margin-right: 5px;
}

.color_value_c{
    float: right;
    width: 89px;
    height: 50px;
    background-color: #EFEFEF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #707070;
    margin-bottom: 25px;
}

.left_input_v{
    height: 100%;
    width: 50%;
    float: left;
}

.right_input_v{
    height: 100%;
    width: 50%;
    float: left;
}

.first_el{
    margin-top: 20px;
}

.color_btn{
    text-align: right;
    height: 30px;
    border: 1px solid #707070;
    background: #FFF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    cursor: pointer;
    outline:none;
}

.color_btn:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 100px;
}

.color_btn:nth-child(2){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#letter_color{
    margin-top: 9px;
    margin-left: 5px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#spaw_icon{
    margin-top: 4px;
    font-size: 24px;
}

.value_box{
    width: 45px;
    background-color: #EFEFEF;
    margin-top: 14px;
    border: 0px solid #707070;
    outline: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    margin-left: 15px;
    text-align: center;
}

.value_box1{
    width: 30px;
    background-color: #EFEFEF;
    margin-top: 13px;
    border: 0px solid #707070;
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    margin-left: -2px;
}

.icon_save{
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.input_box2{
    width: 200px;
    background-color: #EFEFEF;
    border: 0px solid #707070;
    outline: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

#blue_selector{
    text-align: left;
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}


.mainscreen{
    height: 800px;
    width: 930px;
    float: left;
}

.photo_com{
    height: 760px;
    width: 880px;
    border-radius: 15px;
}

.twentytwenty-container{
    height: 760px;
    width: 880px;
    border-radius: 15px;
}

.indexi{
    vertical-align: sub;
    font-size: 15px;
}

.hr_line1{
    margin-top: 30px;
    border-top: 1px solid #FFF;
}

.hr_line2{
    margin-top: 20px;
    border-top: 1px solid #FFF;
}

.controls{
    width: 100%;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.ctrl{
    height: 100%;
    width: 29.7%;
    float:left;
}

.ctrl:nth-child(1){
    margin-right: 10px;
}

.ctrl:nth-child(2){
    margin-right: 10px;
}

.slidder{
    width: 82%;
    height: 100%;
    float:left;
    margin-left: 15px;
    margin-right: 15px;
}

.slider{
    width: 100%;
    height: 20px;
}

input[type="range"]{
    -webkit-appearance:none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #000;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: linear-gradient(90deg, rgba(142,45,226,1) 0%, rgba(196,113,237,1) 0%, rgba(74,0,224,1) 100%);
    border-radius: 10px;
    cursor: pointer;
}

.drag{
    width: 100%;
    height: calc(50% - 10px);
    padding: 5px;
}

.drop{
    width: 100%;
    height: calc(50% - 10px);
    padding: 5px;
}

.drag_block{
    float: left;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

.drag_block:nth-child(1){
    margin-left: 40px;
}

.drag_block2{
    float: left;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}


.div1, .div2 {
  float: left;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

.div1:nth-child(1), .div2:nth-child(1){
    margin-left: 40px;
}

.ctrl_text1, .ctrl_text2, .ctrl_text3{
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-align-last:center;
    border: 0px;
    margin-bottom: 0px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}

.changeble{
    background-color: blue;
    height: 150px;
    width: 100%;
    position: relative;
}

hr{
    margin-bottom: 0px;
    margin-top: 15px;
}

.hide {
  display: none;
}

.scale1, .rotate1, .move1{
    height: 150px;
    width: 100%;
}

.left, .right{
    height: 100%;
    width: 50%;
    float: left;
}

.right{
    margin-right: -25px;
}









.box_ltl{
    width: 47px;
    height: 50px;
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #707070;
    margin-top: 18px;
}

.box_ltl_text{
    margin-top: 9px;
    margin-left: 5px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.box_inpt{
    float: right;
    width: 52px;
    height: 50px;
    background-color: #EFEFEF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #707070;
    margin-top: 18px;
}

.box_inpt_text{
    width: 40px;
    background-color: #EFEFEF;
    border: 0px solid #707070;
    outline: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}

.checkbox_rotate{
    font-size: 20px;
    -webkit-transform: scale(1.5);
    margin-top: 19px;
}

#angle{
    margin-top: 14px;
    width: 50px;
    border: 0px solid #707070;
    background-color: #EFEFEF;
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-align-last: center;
}

#canvas_move{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.input_float{
    width: 45px;
}

.zoom{
    margin: auto;
    height: 50px;
    width: 240px;
    text-align: center;
    margin-top: -15px;
    margin-left: 412px;
}

.x_empty{
    margin-right: -50px;
    height: 100%;
    width: 104px;
    text-align: center;
    justify-content: center;
}

.left_part{
    height: 100%;
    width: 50px;
    background-color: #fff;
    border: 1px solid #707070;

    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right_part{
    height: 100%;
    width: 50px;
    background-color: #efefef;
    border: 1px solid #707070;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tager_input{
    width: 75%;
    margin: auto;

    background-color: #EFEFEF;
    border: 0px solid #707070;
    outline: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}

#ruler{
    margin-top: 12px;
    font-size: 22px;
}

.tut_julia{
    height: 800px;
    width: 1280px;
    background: rgba(20, 20, 20, 0.5);
    margin: auto;
    position: absolute;
    margin-top: -800px;
    margin-left: 312px;
}

.popup{
    height: 200px;
    width: 350px;
    background-color: white;
    margin-left: 450px;
    margin-top: 150px;
    border: 1px solid #707070;
    border-radius: 18px;
}

.popup_text{
    height: calc(100% - 50px);
    width: calc(100% - 20px);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.popup_text>p{
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: 450;
}

.popup_btn{
    height: 40px;
    width: 100%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;

}

.button_layer{
    width: 150px;
    height: 90%;
    background: linear-gradient(180deg, rgba(142,45,226,1) 0%, rgba(196,113,237,1) 0%, rgba(74,0,224,1) 100%);
    border-radius: 18px;
    margin: auto;
}

.pp_btn{
    background-color:#D8D8D8;
	border-radius:28px;
	border:1px solid #555353;
	display:inline-block;
	cursor:pointer;
    color: black;
	font-family:Arial;
	font-size:20px;
	padding: 6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000;
}

.pp_btn_skip{
    background-color:#D8D8D8;
	border-radius:28px;
	border:1px solid #555353;
	display:inline-block;
	cursor:pointer;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
	font-size:16px;
	padding: 0 15px;
    width: 34px;
    height: 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000;
}

.ppt1{
    height: 205px;
}
.ppt2{
    height: 245px;
}
.ppt3{
    height: 245px;
}
.ppt4{
    height: 305px;
}
.ppt5{
    height: 265px;
}
.ppt6{
    height: 205px;
}
.ppt7{
    height: 245px;
}
.ppt8{
    height: 200px;
}
.ppt9{
    height: 160px;
}
.ppt10{
    height: 245px;
}
